
        .sidebar {
            background-color: #28B4AC; /* Couleur de fond de la barre de navigation */
            width: 200px; /* Largeur de la barre de navigation */
            height: 100%; /* Hauteur pour couvrir toute la hauteur de l'écran */
            position: fixed; /* Fixer la barre de navigation */
            left: 0; /* Aligner à gauche */
            top: 0; /* Aligner en haut */
            padding-top: 20px; /* Espacement en haut */
        }

        .sidebar ul {
            list-style-type: none;
            padding-left: 0;
            padding:10%;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .card {
            width: 35%;
            height:100%; /* Ajustez la largeur en fonction de votre mise en page */
            margin-top: 30px;
            margin-bottom: 20px;
            padding:10%;
            background-color: #E9E6E6; /* Couleur de fond */
            border-radius: 8px; /* Coins arrondis */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée */
        }
    
        .scroll-container {
            max-height: 200px;
            overflow-y: 200px;
            border: 1px solid #ccc; /* Border color */
            border-radius: 5px; /* Rounded border */
            padding: 10px; /* Add padding for better appearance */
            text-align: center; /* Center the content */
        }
        
        /* Customizing scrollbar color */
        .scroll-container::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
        }
        
        .scroll-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Thumb color */
            border-radius: 10px; /* Rounded corners */
        }
        
        .scroll-container::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Track color */
        }

        .logout-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }
        