

        .sidebar ul {
            list-style-type: none;
            padding-left: 0;
            padding:10%;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .savebutton{
            position: absolute;
            top: 3%;
            left: 84%;
            transform: translateX(-50%);
            z-index: 1000;
        }

        .dates {
            position: absolute;
            top: 20px; /* Ajouté px pour spécifier l'unité */
            left: 40%;
            z-index: 1000; /* Ensure logo appears above other content */
            height: auto; 
            color: #2766A6;
            display: flex;
            justify-content: space-between; /* Pour ajouter un espace entre les deux éléments */
            gap: 100px; /* Ajustez cette valeur pour augmenter ou diminuer l'espace entre les paragraphes */
            font-weight: bold;
            font-size: 24px;
        }

        .dates p {
            margin: 0; /* Supprime les marges par défaut des paragraphes */
        }

        .card {
            width: 35%;
            height:100%; /* Ajustez la largeur en fonction de votre mise en page */
            margin-top: 30px;
            margin-bottom: 20px;
            padding:10%;
            background-color: #E9E6E6; /* Couleur de fond */
            border-radius: 8px; /* Coins arrondis */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée */
        }

      
        
    
        .scroll-container {
            max-height: 200px;
            overflow-y: 200px;
            border: 1px solid #ccc; /* Border color */
            border-radius: 5px; /* Rounded border */
            padding: 10px; /* Add padding for better appearance */
            text-align: center; /* Center the content */
        }
        
        /* Customizing scrollbar color */
        .scroll-container::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
        }
        
        .scroll-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Thumb color */
            border-radius: 10px; /* Rounded corners */
        }
        
        .scroll-container::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Track color */
        }

        .logout-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }
        
          .logo-container {
            position: absolute;
            top: 0;
            left: 10%;
            transform: translateX(-50%);
            z-index: 1000; /* Ensure logo appears above other content */
        }

        /* Adjust width/height as needed */
        .logo-container img {
            width: 200px; /* Adjust width as needed */
            height: auto; /* Maintain aspect ratio */
        }
        .sidebar {
            background-color: #2766A6; /* Couleur de fond de la barre de navigation */
            width: calc(100vw /5); /* Occupe 1/6 de la largeur de la page */
            height: 100vh; /* Hauteur pour couvrir toute la hauteur de l'écran */
            position: fixed; /* Fixer la barre de navigation */
            left: 0; /* Aligner à gauche */
            top: 0; /* Aligner en haut */
            padding-top: 50px;
            
        }

        .sidebar ul {
            list-style-type: none;
            padding-left: 20px;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            border: 1px solid #B0E0E6;
            padding: 8px;
            text-align: center;
        }
        
        th {
            background-color: #B0E0E6; /* couleur de fond pour l'en-tête */
        }
        .ml-custom {
            margin-left: 300px; /* Marge personnalisée à gauche */
        }
        .sidebar p {
            color: white; /* Couleur du texte */
            font-weight: bold; /* Gras */
            font-size: 25px; /* Taille de la police */
           /* Marge en haut */
            margin-bottom: 20px; /* Marge en bas */
            padding-left: 50px; /* Espacement à gauche */
            font-family: Arial, sans-serif; /* Famille de police Arial */
        }


        .custom-button {
            background-color: #2766A6;
            color: #ffffff; /* Couleur du texte */
            font-weight: bold; /* Police en gras */
            padding: 10px 20px; /* Remplissage */
            border: none; /* Suppression de la bordure */
            border-radius: 5px; /* Coins arrondis */
            transition: background-color 0.3s; /* Transition de la couleur de fond */
          }
        
          /* CSS pour changer la couleur du bouton au survol */
          .custom-button:hover {
            background-color: #3A92C5;
          }
    
         
        
        .file-button a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
    
            border-radius: 5px;
        }
        
        .file-button a:hover {
            background-color: #3A92C5;
            color: black;
        }
    
        .delete-button {
         
          color: white; /* Couleur du texte */
          border: none; /* Pas de bordure */
          padding: 5px 10px; /* Espacement interne */
          border-radius: 3px; /* Bordures arrondies */
          cursor: pointer; /* Curseur de la souris */
      }
      
      .delete-button:hover {
          background-color: #3A92C5; /* Couleur de fond au survol */
          color: black;
      }