
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw / 6);
    height: 100vh;
    background-color: #28B4AC;
    display: flex;
    align-items: flex-start; /* Alignement en haut */
    justify-content: center;
    flex-direction: column;
}
.text-xl{
    color: white;
    margin-top: 100px; 
    margin-bottom: 650px;
    font-size: 18px;
    margin-left:5px;

}

.files-heading {
    font-size: 24px; /* Changer la taille de la police */
    font-weight: bold; /* Mettre en gras */
    color: #f3f7fa;
    margin:40px;
    padding:10px;
    margin-bottom:10px; /* Changer la couleur du texte */
    /* Ajoutez d'autres styles selon vos besoins */
  }