<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard AGIR</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo_agir.png' %}" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Inclure jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Inclure le thème jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body class="bg-gray-100">
    <div id="dates" class="dates">
        <p>Du : {{ start_date }}</p>
        <p>Jusqu'à : {{ end_date }}</p>
    </div>
    <div class="sidebar">
        <ul class="text-white">
            <p class="files-heading">Les fichiers</p>
            {% for file in files %}
            <li class="file-button">
                <span style="display: inline-block;">
                    <a href="{% url 'dash' %}?file={{ file.file }}&start_date={{ file.start_date }}&end_date={{ file.end_date }}">
                        <span class="filename">{{ file.file }}</span>
                    </a>
                </span>
            {% endfor %}
        </ul>
    </div>
    <div class="absolute top-0 right-0 mt-4 mr-4">
        
         <a href="upload">
          <button type="submit" style="
          background-color: #2766A6;
          transition: background-color 0.3s;
          margin-right: 5px;
        "
        class="text-white font-bold py-2 px-6 rounded"
        type="submit"
        onmouseover="this.style.backgroundColor='#3A92C5'"
        onmouseout="this.style.backgroundColor='#2766A6'">
            Charger un fichier
          </button>
        </a>
      </div>
      <i id="save-button" class="fas fa-file-download savebutton" title="Télécharger" style="cursor: pointer; font-size: 32px; color: #2766A6;"></i>
      <div id="graphs-content" class="flex flex-wrap justify-center mt-12">
        <!-- Première carte -->
        <div id="graph1" class="card mx-4 ml-custom">
            {{ graph_html | safe }}
        </div>
        
        <!-- Deuxième carte -->
        <div id="graph2" class="card mx-4">
            <!-- Contenu de votre deuxième graphe statique ici -->
            {{ graph2_html | safe }}
        </div>
    
        <!-- Troisième carte -->
        <div id="graph3" class="card mx-4 ml-custom">
            <!-- Contenu de votre troisième graphe statique ici -->
            {{ graph_html3 | safe }}
        </div>
        
        <!-- Quatrième carte -->
        <div id="graph4" class="card mx-4" style="overflow-x: auto;text-align: center;">
            <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Rechercher par résident...">
            <div style="max-height: 420px; overflow-y: auto;">
                <table border="1" id="residentTable">
                    <thead>
                        <tr>
                            <th>Résident</th>
                            <th>Nombre d'appels</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row,value in tableau_dynamique.iterrows %}
                        <tr class="residentRow">
                            <td>{{ value.Resident }}</td>
                            <td>{{ value.NB }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Cinquième carte -->
        <div id="graph5" class="card mx-4 ml-custom">
            {{ graph_html5 | safe }}
        </div>
        
        <!-- Sixième carte -->
        <div id="graph6" class="card mx-4 ">
            {{ graph_html6 | safe }}
        </div>
    </div>

    <script>
        document.getElementById('save-button').addEventListener('click', function() {
    var element = document.createElement('div');

    var dates = document.getElementById('dates').innerHTML;
    element.innerHTML += '<div>' + dates + '</div>';

    for (var i = 1; i <= 6; i++) {
        var graphContent = document.getElementById('graph' + i).innerHTML;
        element.innerHTML += '<div style="page-break-after: always; margin-top: 20px;">' + graphContent + '</div>';
    }

    var opt = {
        margin:       1,
        filename:     'graphs.pdf',
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { scale: 2 },
        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
    };

    html2pdf().from(element).set(opt).save();
});

        function searchTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("residentTable");
            tr = table.getElementsByTagName("tr");

            // Boucle à travers toutes les lignes du tableau (en excluant la première ligne qui contient l'en-tête)
            for (i = 1; i < tr.length; i++) {
                // Récupérer toutes les cellules de la ligne
                td = tr[i].getElementsByTagName("td");
                var found = false; // variable pour indiquer si le texte est trouvé dans une cellule

                // Boucle à travers toutes les cellules de la ligne
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break; // Sortir de la boucle dès qu'une correspondance est trouvée dans une cellule
                        }
                    }
                }

                // Afficher ou cacher la ligne en fonction du résultat de la recherche
                if (found) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
