<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Inclure jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Inclure le thème jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        /* Style optionnel pour le sélecteur de date */
        .ui-datepicker {
            font-size: 14px;
        }
    </style>




    <script>
        {% if message %}
            alert("{{ message }}");
        {% endif %}
    </script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen relative">
  <div class="sidebar mt-0" style="margin-bottom: 800px;">
    <ul class="text-xl">
      <p class="files-heading">Les fichiers</p>
      {% for file in files %}
      <li>{{ file.file }}</li>
      {% endfor %}
    </ul>
  </div>
    <div class="container mx-auto px-6 py-8">
      <h2 class="text-3xl font-semibold text-center mb-8"style="margin-left:100px;">
        Télécharger le fichier Excel
      </h2>
      <div class="max-w-md mx-auto">
        <form
          method="post"
          enctype="multipart/form-data"
        >
        <div class="flex justify-center w-full ">
          <div class="max-w-screen mx-auto" style="margin-left:100px;">
              <div class="flex items-center justify-center border border-gray-200 p-2 mt-2 mr-3">
                  {% csrf_token %}
                  <label for="id_date_start" style="font-size: 20px;" class="mr-2">Date Début:</label>
                  <input type="text" id="id_date_start" name="start_date" class="border border-gray-400 rounded p-1 mr-2" />
      
                  <label for="id_date_end" style="font-size: 20px;" class="mr-2">Date Fin:</label>
                  <input type="text" id="id_date_end" name="end_date" class="border border-gray-400 rounded p-1 mr-2" />
              </div>
                  <div class="flex items-center justify-center border border-gray-200 p-2 mt-2 mr-3">
                  <label for="id_file" style="font-size: 20px;" class="mr-2">Fichier:</label>
                  <input type="file" id="id_file" name="file" class="form-input text-lg flex-grow rounded p-1 mr-2" />
      
                  
                <button
                  style="
                    background-color: #28b4ac;
                    transition: background-color 0.3s;
                    margin-right: 5px;
                  "
                  class="text-white font-bold py-2 px-6 rounded"
                  type="submit"
                  onmouseover="this.style.backgroundColor='#1F9D88'"
                  onmouseout="this.style.backgroundColor='#28B4AC'"
                >
                  Charger
                </button>
                <!-- Bouton "Supprimer" -->
                <button
                  style="
                    background-color: #cccccc;
                    transition: background-color 0.3s;
                  "
                  class="text-black font-bold py-2 px-3 rounded"
                  type="submit"
                  onmouseover="this.style.backgroundColor='#AAAAAA'"
                  onmouseout="this.style.backgroundColor='#CCCCCC'"
                >
                  Supprimer
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
        $(function() {
            // Configuration du sélecteur de date
            $("#id_date_start, #id_date_end").datepicker({
                dateFormat: "yy-mm-dd", // Format de la date
                onSelect: function(selectedDate) {
                    // Mettre à jour la date min/max pour le champ opposé
                    var option = this.id == "id_date_start" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings);
                    $("#id_date_start, #id_date_end").not(this).datepicker("option", option, date);
                }
            });
        });
    </script>
  </body>
</html>